@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-2">Dental Clinic</h1>
    <h4>
        <div>Since 2020</div>
    </h4>
</div>
<footer class="border-top footer text-black-50 ">
    <a class="text-sm-left" href='https://www.freepik.com/photos/health'>Health photo created by Racool_studio - www.freepik.com</a>
</footer>
