
@{
    ViewData["Title"] = "OurClinic";
}

<h1>Our Clinic</h1>

<div>
    @*Описание на местоположението и работата*@
    @*пример:
        Située en plein coeur ....... en bordure du lac dans l’une des plus célèbres rue de la ville,
        ......... vous accueille dans un cadre discret et professionnel.
        Tous les soins y sont pratiqués dans le respect le plus strict de la médecine dentaire.
        Enfin, afin de vous apporter les meilleures conditions d’asepsie, la clinique stérilise tous ses instruments par....
        (steriswiss) spécialisé notamment dans la stérilisation des instruments chirurgicaux respectant ainsi la réglementation en vigueur.*@
</div>
<br />
<hr />

<h2 class="text-lg-center">Take an appointment</h2>
<div class="text-lg-center">
    You can take an appointment online or you could reach us on +359 000 000 000
    <br />
    <button type="button" class="btn btn-primary">Take an appointment</button>
</div>

@*google map*@

<div>
    <div class="text-left">
        <h4> Address:</h4>
        1 Benkovska str. 1000, Sofia
    </div>
    @*спирки на градски транспорт в близост*@
    <div class="text-center">
        <h4> Open hours:</h4>
        <br />
        From Monday to Saturday | From 07:00h To 19:00h
    </div>
    <div class="text-right">
        <h4>Contact:</h4>
        +359 000 000 000 | <a href="contact">dentalclinic@test.bg</a>
    </div>
</div>
