@model IEnumerable<DentalClinic_1._1.ViewModels.Dentist.AllDentistsViewModel>

@{
    ViewData["Title"] = "OurTeam";
}

<div>The team of our clinic is composed of highly experienced specialists with many years of practice.</div>
<br />
<div class="text-justify">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <figure>
                    <figcaption>
                        <img src="~/myAvatar .png" />
                        <div>@item.Specialty</div>

                        <h4>@item.FirstName @item.LastName</h4>
                        <div>@item.Description</div>
                    </figcaption>
                </figure>
            </div>
        }
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm mt-3">
            <a href="OurClinic">Our Clinic</a>
            <br />
            <a href="OurTeam">Our Team</a>
            <br />
            <a href="Contact">Contact</a>
        </div>
        <div class="col-sm mt-3">
            Address:
            1 Benkovska str. 1000, Sofia
            <br />
            +359 000 000 000
        </div>
        <div class="col-sm mt-3">
            <p>Dental Clinic Sofia</p>
            <a href="contact">dentalclinic@test.bg</a>
        </div>
    </div>
</div>

