
@{
    ViewData["Title"] = "OurTeam";
}

<h1>OurTeam</h1>

<div>The team of our clinic is composed of highly experienced specialists with many years of practice.</div>

<hr />
<div class="text-justify">
    @*снимка и кратка авотбиография на специалистите*@

</div>
<hr />
<div class="float-left">
    <a href="OurClinic">Our Clinic</a>
    <br />
    <a href="OurTeam">Our Team</a>
    <br />
    <a href="Contact">Contact</a>
</div>
<div class="text-sm-center">
    <p>
        Address:
        1 Benkovska str. 1000, Sofia
        +359 000 000 000
        dentalclinic@test.bg
    </p>
</div>
<div class="float-right">
    <p>Dental Clinic Sofia</p>
</div>