<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Clinic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/User.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-sketchy.css"/>*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dental Clinic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                                </li>
                                <div class="dropdown">
                                    <button class="dropbtn">Patient</button>
                                    <div class="dropdown-content">
                                        <a href="/Administrator/AddPatient">Add Patient</a>
                                        <a href="/Administrator/RemovePatient">Remove Patient</a>
                                        <a href="/Administrator/AllPatients">All Patients</a>

                                    </div>
                                </div>
                                @*<li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="AddPatient">Add Patient</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="RemovePatient">Remove Patient</a>
                                    </li>*@
                                <div class="dropdown">
                                    <button class="dropbtn">Dentist</button>
                                    <div class="dropdown-content">
                                        <a href="/Administrator/AddDentist">Add Dentist</a>
                                        <a href="/Administrator/RemoveDentist">Remove Dentist</a>
                                        <a href="/Administrator/AllDentists">All Dentists</a>
                                    </div>
                                </div>
                                @*<li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="AddDentist">Add Dentist</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="RemoveDentist">Remove Dentist</a>
                                    </li>*@
                                <div class="dropdown">
                                    <button class="dropbtn">Specialization</button>
                                    <div class="dropdown-content">
                                        <a href="/Administrator/AddSpecialization">Add Specialization</a>
                                        <a href="/Administrator/RemoveSpecialization">Remove Specialization</a>
                                    </div>
                                </div>
                                @*<li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="AddSpecialization">Add Specialization</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Administrator" asp-action="RemoveSpecialization">Remove Specialization</a>
                                    </li>*@
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-black-50">
        <div class="container">
            &copy; 2020 - Dental Clinic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
