@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <li class="nav-item ">
                <a class="dropbtn text-dark" style="background-color:transparent" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h5>Hello, @User.Identity.Name!</h5></a>
            </li>
            <div class="dropdown-content">
                <li class="nav-item">
                    <form class="form-inline dropdown-item " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button class="btn btn-link text-dark" style="background-color:transparent" type="submit"><h5>Logout</h5></button>
                    </form>
                </li>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
</ul>
