
@{
    ViewData["Title"] = "Appointments";
}

<h1>Appointments</h1>

<table class="table table-striped table-sm">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Date</td>
        <td>Hour</td>
    </tr>

</table>