

<div id="calendar">

</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        $.ajax({
            url: '/Dentists/DataAppointments',
            type: 'GET',
            success: function (data) {
                const events = data.map((d) => {
                    return { title: 'Appointment', start: d}
                })
                initCalendar(events)
            },
            error: function (error) {
                console.log(error)
            }
        });

        const initCalendar = (events) => {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: events
            });
            calendar.render();

            calendar.on('dateClick', function (info) {
                console.log(info);
            });
        }
        
    });
</script>