@model IEnumerable<DentalClinic_1._1.ViewModels.Patient.AppointmentViewModel>
@{
    ViewData["Title"] = "AllAppointments";
}

<h1>Your appointments:</h1>
<br />
<table class="table table-success">
    <thead>
        <tr>
            <th scope="col">Dentist</th>
            <th scope="col">Date</th>
            <th scope="col">Appointment hour</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>

                <td>@item.Date</td>
                <td>@item.Hour:@item.Minutes</td>
            </tr>
        }
    </tbody>
</table>