@model IEnumerable<DentalClinic_1._1.ViewModels.Dentist.AllDentistsViewModel>

@{
    ViewData["Title"] = "All Dentists";
}

<h1 class=" text-lg-center">Dentists in our Clinic</h1>


    @foreach (var item in Model)
    {
<div class="card mb-3">

    <a href="/Patients/GetAppointment" class="btn btn-info" role="button">@item.FirstName @item.LastName</a>
</div>
    }
