@model IEnumerable<DentalClinic_1._1.ViewModels.Dentist.AllDentistsViewModel>

@{
    ViewData["Title"] = "All Dentists";
}

<h1>Dentists in our Clinic</h1>

<table class="table">
    @foreach (var item in Model)
    {
        <div class="card mb-3">
            
            <div class="card-body">
                <h5 class="card-title">@item.FirstName @item.LastName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="RemoveDentist" asp-route-id="@item.Id" method="post">
                   
                </form>
            </div>
        </div>
    }
</table>
