@model IEnumerable<DentalClinic_1._1.ViewModels.Dentist.AllDentistsViewModel>

@{
    ViewData["Title"] = "All Dentists";
}

<body style="background-image:(OurTeam.jpg) ">
    <h1 class=" text-lg-center">Dentists in our Clinic</h1>

    <div class="row">
        <div class="col">
            @foreach (var item in Model)
            {

                <div class="card mb-3">
                    <a href="/Patients/GetAppointment/@item.Id" class="btn btn-info" role="button"><img src="~/doctor.png" alt="Avatar" class="avatar">@item.FirstName @item.LastName</a>
                </div>
            }
        </div>
    </div>
</body>

