@{
    ViewData["Title"] = "GetAppointment";
}

<h1>Take an appointment:</h1>

<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Monday
    </button>
    <div class="dropdown-menu dropdown-toggle">
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:30</a>
        <br />

        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:30</a>
        <br />                                                                   
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:30</a>
    </div>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tuesday
    </button>
    <div class="dropdown-menu dropdown-toggle">
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:30</a>
        <br />

        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:30</a>
        <br />
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:30</a>
    </div>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Wednesday
    </button>
    <div class="dropdown-menu dropdown-toggle">
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:30</a>
        <br />

        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:30</a>
        <br />
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:30</a>
    </div>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Thursday
    </button>
    <div class="dropdown-menu dropdown-toggle">
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:30</a>
        <br />

        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:30</a>
        <br />
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:30</a>
    </div>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Friday
    </button>
    <div class="dropdown-menu dropdown-toggle">
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:30</a>
        <br />

        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:30</a>
        <br />
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:30</a>
    </div>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Saturday
    </button>
    <div class="dropdown-menu dropdown-toggle">
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">07:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">08:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">09:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">10:30</a>
        <br />

        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">11:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">12:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">13:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">14:30</a>
        <br />
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">15:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">16:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">17:30</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:00</a>
        <a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button" onclick="return confirm('Take this appointment?')">18:30</a>
    </div>
</div>

