@model DentalClinic_1._1.ViewModels.Patient.DateTimeViewModel

@{
    ViewData["Title"] = "GetAppointment";
}

<h1>Get appointment:</h1>

@*https://www.jqueryscript.net/time-clock/pick-hours-availability-calendar.html*@
@*<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="GetAppointment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
    Work corectly
    <label asp -for= "Appointment" class="control-label"></label>
                    <input asp-for="Appointment" class="form-control" />
                    <span asp-validation-for="Appointment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/mark-your-calendar.css" rel="stylesheet" />
    <script src="~/js/mark-your-calendar.js"></script>
    <script src="~/js/jquery.slim.min.js"></script>
</head>
<body>
    <div id="picker">
        <div id="myc-container">
            <div id="myc-nav-container">
                <div id="myc-current-month-year-container">
                    <div id="myc-prev-week-container"></div>
                    <div id="myc-next-week-container"></div>
                    <div id="myc-prev-week"></div>
                    <div id="myc-next-week"></div>
                    <div id="myc-week-container"></div>
                    <div id="myc-dates-container"></div>
                    <div id="myc-date-header"></div>
                    <div class="myc-date-header:first-of-type"></div>
                    <div class="myc-date-header:last-of-type"></div>
                    <div id="myc-available-time-container"></div>
                    <div class="myc-day-time-container"></div>
                    <div class="myc-day-time-container:first-of-type"></div>
                    <div class="myc-day-time-container:last-of-type"></div>
                    <div class="myc-date-number"></div>
                    <div class="myc-available-time"></div>
                    <div class="myc-available-time.selected"></div>
                    <div class="myc-available-time:hover"></div>
                    <div class="myc-date-display"></div>
                    <div class="myc-date-header"></div>
                    <div class="myc-day-time-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Selected date: <span id="selected-date"></span></p>
        <p>Selected time: <span id="selected-time"></span></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/mark-your-calendar.js"></script>
    <script type="text/javascript">
        (function ($) {
            $('#picker').markyourcalendar({
                availability: [
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00'],
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00'],
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00'],
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00'],
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00'],
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00'],
                    ['08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
                        , '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00'
                        , '16:30', '17:00', '17:30', '18:00', '18:30', '19:00']
                ],
                startDate: new Date("2020-10-25"),
                onClick: function (ev, data) {
                    // data is a list of datetimes
                    var d = data[0].split(' ')[0];
                    var t = data[0].split(' ')[1];
                    $('#selected-date').html(d);
                    $('#selected-time').html(t);
                },
                onClickNavigator: function (ev, instance) {
                    var arr = [
                        [
                            ['4:00', '5:00', '6:00', '7:00', '8:00'],
                            ['1:00', '5:00'],
                            ['2:00', '5:00'],
                            ['3:30'],
                            ['2:00', '5:00'],
                            ['2:00', '5:00'],
                            ['2:00', '5:00']
                        ],
                        [
                            ['2:00', '5:00'],
                            ['4:00', '5:00', '6:00', '7:00', '8:00'],
                            ['4:00', '5:00'],
                            ['2:00', '5:00'],
                            ['2:00', '5:00'],
                            ['2:00', '5:00'],
                            ['2:00', '5:00']
                        ],
                        [
                            ['4:00', '5:00'],
                            ['4:00', '5:00'],
                            ['4:00', '5:00', '6:00', '7:00', '8:00'],
                            ['3:00', '6:00'],
                            ['3:00', '6:00'],
                            ['3:00', '6:00'],
                            ['3:00', '6:00']
                        ],
                        [
                            ['4:00', '5:00'],
                            ['4:00', '5:00'],
                            ['4:00', '5:00'],
                            ['4:00', '5:00', '6:00', '7:00', '8:00'],
                            ['4:00', '5:00'],
                            ['4:00', '5:00'],
                            ['4:00', '5:00']
                        ],
                        [
                            ['4:00', '6:00'],
                            ['4:00', '6:00'],
                            ['4:00', '6:00'],
                            ['4:00', '6:00'],
                            ['4:00', '5:00', '6:00', '7:00', '8:00'],
                            ['4:00', '6:00'],
                            ['4:00', '6:00']
                        ],
                        [
                            ['3:00', '6:00'],
                            ['3:00', '6:00'],
                            ['3:00', '6:00'],
                            ['3:00', '6:00'],
                            ['3:00', '6:00'],
                            ['4:00', '5:00', '6:00', '7:00', '8:00'],
                            ['3:00', '6:00']
                        ],
                        [
                            ['3:00', '4:00'],
                            ['3:00', '4:00'],
                            ['3:00', '4:00'],
                            ['3:00', '4:00'],
                            ['3:00', '4:00'],
                            ['3:00', '4:00'],
                            ['4:00', '5:00', '6:00', '7:00', '8:00']
                        ]
                    ]
                    var rn = Math.floor(Math.random() * 10) % 7;
                    instance.setAvailability(arr[rn]);
                }
            });
        })(jQuery);
    </script>
</body>
</html>