@model DentalClinic_1._1.ViewModels.Patient.CreateAppointmentViewModel

@{
    ViewData["Title"] = "GetAppointment";
}
<link href="~/css/Calendar.css" rel="stylesheet" />
<h1>Take an appointment:</h1>

<form asp-controller="Patients" asp-action="GetAppointment">
        <button class="btn btn-primary" value="@DateTime.UtcNow" name="Appointment" >07:00</button>
    <input id="PatientId" name="PatientId" type="hidden" value="@Model.PatientId">
    </form>
