@{
    ViewData["Title"] = "GetAppointment";
}

<h1>Take an appointment:</h1>

   
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">07:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">07:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">08:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">08:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">09:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">09:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">10:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">10:30</a>
<br />
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">11:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">11:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">12:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">12:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">13:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">13:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">14:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">14:30</a>
<br />
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">15:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">15:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">16:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">16:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">17:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">17:30</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">18:00</a>
<a href="/Patients/Appointments" class="mt-3 btn btn-info" role="button">18:30</a>