@model DentalClinic_1._1.ViewModels.Patient.DateTimeViewModel

@{
    ViewData["Title"] = "GetAppointment";
}

<h1>Get appointment:</h1>

@*https://www.jqueryscript.net/time-clock/pick-hours-availability-calendar.html*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Work corectly
                <label asp -for="Appointment" class="control-label"></label>
                <input asp-for="Appointment" class="form-control" />
                <span asp-validation-for="Appointment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
