
@{
    ViewData["Title"] = "AddSpecialization";
}

<h1>Add Specialization</h1>
<label for="name"><b>Name of specialization</b></label>
<input type="name" placeholder="Name" name="name" id="name">
<label for="psw"><b>Dentist last name</b></label>
<input type="dentist" placeholder="Dentist last Name" name="denstist last name" id="dentist last name" required>
<button class="btn btn-success">Submit</button>
