
@{
    ViewData["Title"] = "AddSpecialization";
}

<h1>Add Specialization</h1>
<label for="name"><b>Name of specialization</b></label>
<input type="name" placeholder="Name" name="name" id="name">
<label for="Description"><b>Description</b></label>
<textarea id="description" name="description"
          rows="5" cols="33">

    </textarea>
<label for="psw"><b>Specialist</b></label>
<input type="dentist" placeholder="Specialist" name="Specialist" id="Specialist" required>
<button class="btn btn-success">Submit</button>
