@{
    ViewData["Title"] = "List of dentists";
}

<h1>List of dentists</h1>
<table class="table table-striped table-sm">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Specialty</td>
    </tr>

</table>
