@{
    ViewData["Title"] = "List of dentists";
}

<h1>List of dentists</h1>
<table class="table table-striped table-sm">
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
