@{
    ViewData["Title"] = "List of patients";
}

<h1>List of patients</h1>

<table class="table table-striped table-sm">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        
    </tr>

</table>


