@model IEnumerable<DentalClinic_1._1.ViewModels.Specialty.AllSpecializationViewModel>

@{
    ViewData["Title"] = "AllSpecializations";
}

<h1>Specializations</h1>

<p>
    <a asp-action="AddSpecialization">Create New</a>
</p>
<table class="table">
    @foreach (var item in Model)
    {

        <div class="card mb-3">
            <div class="card-header">
                SpecialtyId : @item.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.SpecialtyName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="RemoveSpecialization" asp-route-id="@item.Id" method="post">
                    @*<a asp-action="EditUser" asp-controller="Administrator" asp-route-id="@item.Id" class="button btn-primary">Edit</a>*@
                    <button type="submit" class="button btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
</table>
