
@{
    ViewData["Title"] = "RemoveSpecialization";
}
<link href="~/css/InputForm.css" rel="stylesheet" />

<h1>Remove Specialization</h1>

<div>
    <form action="/" method="post">
        <div class="row">
            <div class="col-25">
                <label for="email"><b>Specialization</b></label>
            </div>

            <div class="col-75">
                <input type="text" placeholder="Specialization" name="Specialization" id="Specialization" required>
            </div>
        </div>
        <button class="btn btn-danger">Remove</button>
    </form>
</div>
