
@{
    ViewData["Title"] = "RemoveDentist";
}

<h1>Remove Dentist</h1>
<form action="/" method="post">
    <label for="psw"><b>First name</b></label>
    <input type="password" placeholder="First Name" name="first name" id="first name">
    <label for="psw"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="email" id="email" required>
    <label for="email"><b>Birth date</b></label>
    <input type="date" placeholder="Birth date" name="birth date" id="birth date" required>
</form>

<button class="btn btn-success">Remove</button>
