
@{
    ViewData["Title"] = "RemoveSpecialization";
}

<h1>Remove Specialization</h1>
<label for="psw"><b>Specialization</b></label>
<input type="dentist" placeholder="Specialization" name="Specialization" id="Specialization" required>
<button class="btn btn-success">Remove</button>