
@{
    ViewData["Title"] = "RemovePatient";
}
<link href="~/css/InputForm.css" rel="stylesheet" />

<h1>Remove Patient</h1>
<div>
    <form action="/" method="post">
        <div class="row">
            <div class="col-25">
                <label for="psw"><b>First name</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="First Name" name="first name" id="first name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="psw"><b>Last name</b></label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Last name" name="email" id="email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email"><b>Birth date</b></label>
            </div>

            <div class="col-75">
                <input type="date" placeholder="Birth date" name="birth date" id="birth date" required>
            </div>
        </div>
        <button class="btn btn-success">Remove</button>
    </form>
</div>
